*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  padding: 0px;
  background: white;
  margin: 0px;
}


nav {
  background: #faf9f8;
 width: 100%;
 

  overflow: hidden;
}
nav ul{
   display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;

  padding: 12px;
  gap: 20px;  
}
nav ul li{
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  font-size: 1rem;
  color: black;
  padding: 8px;
}
 nav ul li a:hover{
  color: #d4631d;
}

nav ul .btn {
 border: none;
   background:linear-gradient(90deg,#d4631d,#f0a85c);
  width: max-content;
  color: white;
  padding: 8px;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}
nav .btn a{
  font-size: 1rem;
  color: white;
  text-decoration: none;
}
nav ul .btn:hover{
   transform: scale(1.1);
   box-shadow:  0 0 5px rgba(0,0,0,0.3);
   
}

nav h2{
  font-size: 2.4rem;
 background:linear-gradient(90deg,#d4631d,#f0a85c);
  background-clip: text;
  color: transparent;
  margin-left: 20px;
  display: inline-block;
   
 
}

            /*main section*/

.description {
  margin-top: 120px;
  background: #faf9f6;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  padding: 20px;
  gap: 20px;
}

.description img {
  width: 100%;
  width: max-400px;
  height: auto;
  object-fit: cover;
  border: none;
  display: block;
}

.text {
  font-size: 8em;
  flex: 1 1 0;
  margin: 0;
  color: black;
  text-align: center;
}

.p {
  color: grey;
  margin: 0;
  font-size: 2.8rem;
  text-align: center;
}

.bynow {

 border: none;
   background:linear-gradient(90deg,#d4631d,#f0a85c);
  width: max-content;
  color: white;
  padding: 8px;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}
.bynow a{
  font-size: 1rem;
  color: white;
  text-decoration: none;
}
.bynow:hover{
   transform: scale(1.1);
   box-shadow:  0 0 5px rgba(0,0,0,0.3);
   
}

/*nxt*/


#features {
  margin-top: 60px;
}
.features {
  
  margin-top: 100px;
  
}
.feature-box {
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 1fr));
  justify-items: center;
  gap: 40px;
}

.box {

  width: 240px;
  height: 240px;
  padding: 12px;
  font-size: 2rem;
  margin-top: 80px;
  text-align: center;
}
.box:hover{

  box-shadow: 0 0 10px rgba(0,0,0,0.2),
              -0 -0 10px rgba(255,255,255,0.5);
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
}




.ft {
  font-size: 2.4rem;
  text-align: center;
  font-family: Sans-serif;
}



i {
  color: #d4631d;
  padding: 10px;
}

.box p {
  font-size: 1rem;
}




#pricing {
  margin-top: 80px;
  
}
.pricebox {
  margin-top: 24px;
  background: #faf9f6;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pricebox form input {
  margin-top: 20px;
  height: 48px;
  width: 320px;
  display: flex;
  border: 1px solid #d4631d;
  align-items: center;
  border-radius: 40px;
  color: black;
  padding: 8px;
}
.pricebox input:focus {
  outline: none;
  border: 2px solid #d4631d;
}

.price {
  font-size: 4rem;
  font-weight: bold;
}
.ul {
  margin-top:20px;
  font-size: 1.2rem;
}
.pricebox button {
  margin-top: 20px;
  width: 220px;
  padding: 16px;
  color: white;
  border: none;
  font-weight: bold;
  background: #d4631d;
  border-radius: 12px;
  margin-bottom: 20px;
}
.pricebox button:hover {
  color: #000;
  cursor: pointer;
}
.pricebox form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.email,
address {
  margin: 10px;
  
}
.address {
  margin-left: 10px;
}

/*ending*/
.sus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  background: #faf9f6;
}
.sus form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  gap: 12px;
}
.sus form button {
  width: 200px;

  height: 44px;
  margin-top: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d4631d;
  background: #d4631d;
  border-radius: 12px;
}
.sus form button:hover {
  cursor: pointer;
  
  color: #000000;
  border: 1px solid #d4631d;
}
.sus form input {
  margin-top: 12px;
  width: 380px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #d4631d;
  text-align: center;
  padding: 16px;
  font-size: 1rem;
}

.contact-section{
  margin-top: 34px;
  text-align: center;
}
.contact-section form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 12px;
}

.contact-section form input,
.contact-section form textarea {

 margin-top: 12px;
  width: 420px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #d4631d;
  text-align: center;
  padding: 16px;
  font-size: 1rem;


}


.contact-section form button{

   width: 200px;

  height: 44px;
  margin-top: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d4631d;
  background: #d4631d;
  border-radius: 12px;
}









.end {
  margin-top: 120px;
  padding: 40px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #faf9f8;
}
.contact,
a {
  color: white;
  font-size: 3.4rem;
  text-decoration: none;
}
.social-icons a i {
 color: black;
}

@media screen and (max-width:768px) {
  .description {
    flex-direction: column;
  }

  .text {
    font-size: 4rem;
  }

  .p {
    font-size: 2.4rem;
  }
  .ul p{
    font-size: 1.2rem;
  }

  .pricebox {
    flex-direction: column;
  }

  .pricebox input {
    width: 80%;
  }

  .sus input {
    width: 80%;
  }
.feature-box {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.box{
  flex:1;
  width: 200px;
  height: 200px;
  padding: 12px;
  font-size: 1.8rem;
}
.social-icons{
 display: flex;
}
.social-icons a {
  margin: 0 10px; 
  font-size: 16px;
}
.social-icons a i:hover{
  text-decoration: underline;
}
}
